<% provide(:title, "Login") %>
<h1>Login</h1>

<div class="">
  <div class="">
    <%= form_for(:session, url: login_path) do |f| %>
      
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.submit "Login", class: 'btn btn-primary' %>
    <% end %>
    
    <p>New user?<%= link_to "Sign up now!",signup_path %></p>
  </div>
</div>